.details-list {
    font-size: 18px;

    &__item {

        &-wrap {
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 15px;
            display: flex;
            align-items: center;
            user-select: none;
            transition: border-color .3s ease;
        }

        &:not(:first-child) {
            margin-top: 15px;
        }

        &.completed {
            .details-list__item-wrap {
                border-color: $success;
            }
        }
    }

    &__checkbox {
        position: relative;
        cursor: pointer;

        input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            z-index: -1;

            &:checked ~ span::before {
                opacity: 1;
            }
        }

        span {
            position: relative;
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 3px;
            border: 1px solid #fff;
            margin-right: 15px;

            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 8px;
                width: 5px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(45deg);
                transition: opacity .3s ease;
                top: 0;
                left: 3px;
                opacity: 0;
            }


        }
    }

    &__change {
        color: #fff;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
    }

    &__index {
        margin-right: 10px;
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__edit, &__remove {
        display: block;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    &__edit {
        background-image: url($edit-icon);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 15px;

        &.editing {
            background-image: url($check-icon-round);
        }
    }

    &__remove {
        background-color: $error;
        border-radius: 3px;
        position: relative;

        &::before, &::after {
            content: '';
            display: block;
            height: 12px;
            width: 2px;
            background-color: #fff;
            position: absolute;
            top: calc(50% - 6px);
            left: calc(50% - 1px);
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}
