.details-card {
    max-width: 600px;
    margin: 0 auto;

    &__title {
        text-align: center;
        margin: 0 0 35px 0;
        font-weight: 700;
        font-size: $main-title;
    }

    &__modal {
        text-align: center;
        font-weight: 500;

        p:last-child {
            margin-top: 15px;
        }
    }
}