//colors
$error: rgb(209, 21, 21);
$text: #222;
$gray: rgb(150, 146, 146);
$white: #fff;
$primary: rgb(51, 51, 177);
$success: rgb(17, 187, 17);

//fonts
$main-font: 'Roboto', sans-serif;
$nerco-font: 'Nerko One', cursive;
$main-title: 32px;

//icons
$edit-icon: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAA1klEQVQ4jc3QMUoDURAG4FkIgtiIlQdIKwiKmErdYhWLFBEhJ/EgVlrG0sZKPIEn0Cq2YhRBBO0sPgvfwhb7gmwhTjW8n+8NMxF/UShx0RVXeEXZBR8kvNsFH+IZ213wKOGNTF5iksPHeMFmJq9vstcW9vGFKXZa8nqtQW76Cc7T8Wa4wXLKhglvzdv9FlXqezjDabrJLHeTGq/iDQuNtzV84Anrba7X6IcR8ZjgSkSMImIcEZ8RsV8UxV12ekLXfuoB77jEERbnwsYH97jCGEu/Qv+ivgGGx+YPiHKGcgAAAABJRU5ErkJggg==';
$check-icon-round: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABlklEQVRIid2UTUoDQRCFaxITFI07o4JrEc3OG6gggpgokjsk/sSfQ/hzBXeCus5BXGgUY6IieAI1gomQz00NNEP3zBhX2jCLqXr13us3xYj86wOkgSJwDtSBFvABPGmtCKR6JV8DHok+z8CyMZcFSmHECeDYIKgBFWAGGAQGgClgA7gCPoElg7ymc2WXgE/eBspAIsLMpIW8BmRdsfjkcz+IMxZ52sjcfr1eyRVYNEDJ35AD/TbwhQK3Y5KPANc6cweMaX0ROLEN3Ct42qiVbFcOcT6qW9W0CbzpQEbfy7ZcwzIHMlpv2QTeAwLBCMZdsRgcw9p7jRtR0G3otgA57ddtAmfa3AnUTddW5wZ2XzGntqa/pjcE1tS4iXPPgSRwqxzrNkAaeFDApqWfdZFrv6KzDVx/WGBVQW1g3kVmmVsAOkAXWIkCHxkiW8G4Atg+dd7RmYM4bhKGiP9NdnVDhvTJAXtG5l3gkJA/r02oADSJPg0g7+LxIkRSIpIXkYKIzIrIhLZeRORSRKoiUvU87yu28z93vgF/aj/gGrYcSwAAAABJRU5ErkJggg==';
