.items-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;

    .list-preview {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.delete-list {
    font-size: 18px;

    &__row {
        &:not(:first-child) {
            margin-top: 10px;
        }

        span:first-child {
            font-weight: 500;
        }
    }
}