.transition-group-enter {
  opacity: 0;
}
.transition-group-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.transition-group-exit {
  opacity: 1;
}
.transition-group-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translateX(-100px);
}
